@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap');
* {
    box-sizing: border-box
}

html,
body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#parent {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#me {
    max-width: 100%;
}

#client-feed {
    border: 5px solid #000000;
    width: 100%;
    height: 100%;
}

#interface,
#host-feed {
    position: absolute;
    width: 300px;
    margin: 1em;
}

#interface {
    top: 0;
    right: 0;
    border: 1px solid #000;
    border-radius: 5px;
}

#host-feed {
    bottom: 0;
    right: 0;
}

#copier {
    display: none;
}

#friendloader {
    display: none;
}