html,
body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent {
    position: relative;
}

#friend {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    border: 1px solid #000;
    /* temporary */
    width: 200px;
    height: 200px;
}